<mat-toolbar color="primary">
  <span>Files</span>
</mat-toolbar>
<!-- Add Content Here -->
<section class="content">
  <app-file-card *ngFor="let i of files$ | async" [file]="i"></app-file-card>
  <app-file-card [add]="true" (click)="addNewFile()"></app-file-card>
</section>

<input type="file" name="fileUpload" id="fileUpload" #fileUpload style="display: none;"
  (change)="fileUploadHandler($event.target.files)" accept="image/jpg, video/mp4">
