<mat-card class="file-card">
  <div class="preview" [class.add-image]="add || file?.inProgress">
    <img *ngIf="!add && file?.progress === 100 && file?.mimetype==='image/jpeg'" mat-card-image [src]="'http://localhost:3000/'+file?.path"
      alt="Photo of a Shiba Inu">
    <video *ngIf="file?.mimetype==='video/mp4'" mat-card-image controls>
      <source [src]="'http://localhost:3000/'+file?.path" type="">
    </video>
    <mat-progress-bar *ngIf="file?.inProgress" mode="determinate" [value]="file?.progress"></mat-progress-bar>
    <mat-icon *ngIf="add" class="large-icon">add_circle_outline</mat-icon>
  </div>
  <div class="title">{{add ? 'Add' : file?.name}}</div>
</mat-card>
