:host {
  --iconHeight: 64px;
}

.file-card {
  max-width: 220px;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.preview {
  flex: 1 1 220px;
  display: flex;
}

.title {
  flex: 0 0 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: break-all;
}

.add-image {
  justify-content: center;
  align-items: center;
}

.large-icon {
  font-size: var(--iconHeight);
  width: var(--iconHeight);
  height: var(--iconHeight);
}

img {
  max-height: 220px;
}
